<a href="https://colab.research.google.com/github/guannan11/DFE5/blob/main/TimeSeriesStatsMissingValuesExercise_W8D3L3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1. Import libraries
import pandas as pd
import datetime

# 3. assign it to data, replace the first 3 columns with a proper datetime index
data_url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data'
data = pd.read_csv(data_url, sep = "\s+", parse_dates = [[0,1,2]]) 
data.head()

    Yr_Mo_Dy    RPT    VAL    ROS    KIL  ...    CLA    MUL    CLO    BEL    MAL
0 2061-01-01  15.04  14.96  13.17   9.29  ...  10.25  10.83  12.58  18.50  15.04
1 2061-01-02  14.71    NaN  10.83   6.50  ...  10.04   9.79   9.67  17.54  13.83
2 2061-01-03  18.50  16.88  12.33  10.13  ...    NaN   8.50   7.67  12.75  12.71
3 2061-01-04  10.58   6.63  11.75   4.58  ...   1.79   5.83   5.88   5.46  10.88
4 2061-01-05  13.33  13.25  11.42   6.17  ...   6.54  10.92  10.34  12.92  11.83

[5 rows x 13 columns]

In [2]:
## 4. 2061 doesn't seem right, create a function to fix it and apply it.
# function that uses datetime
def fix_century(x):
  year = x.year - 100 if x.year > 1989 else x.year
  return datetime.date(year, x.month, x.day)
# apply the function fix_century on the column and replace the correct values
data['Yr_Mo_Dy'] = data['Yr_Mo_Dy'].apply(fix_century)
data.head()

     Yr_Mo_Dy    RPT    VAL    ROS    KIL  ...    CLA    MUL    CLO    BEL    MAL
0  1961-01-01  15.04  14.96  13.17   9.29  ...  10.25  10.83  12.58  18.50  15.04
1  1961-01-02  14.71    NaN  10.83   6.50  ...  10.04   9.79   9.67  17.54  13.83
2  1961-01-03  18.50  16.88  12.33  10.13  ...    NaN   8.50   7.67  12.75  12.71
3  1961-01-04  10.58   6.63  11.75   4.58  ...   1.79   5.83   5.88   5.46  10.88
4  1961-01-05  13.33  13.25  11.42   6.17  ...   6.54  10.92  10.34  12.92  11.83

[5 rows x 13 columns]

In [3]:
## 5. set dates as index (data type is datetime64[ns])
# transform Yr_Mo_Dy to date type datetime64
data["Yr_Mo_Dy"] = pd.to_datetime(data["Yr_Mo_Dy"])
data = data.set_index('Yr_Mo_Dy')
data.head()

              RPT    VAL    ROS    KIL  ...    MUL    CLO    BEL    MAL
Yr_Mo_Dy                                ...
1961-01-01  15.04  14.96  13.17   9.29  ...  10.83  12.58  18.50  15.04
1961-01-02  14.71    NaN  10.83   6.50  ...   9.79   9.67  17.54  13.83
1961-01-03  18.50  16.88  12.33  10.13  ...   8.50   7.67  12.75  12.71
1961-01-04  10.58   6.63  11.75   4.58  ...   5.83   5.88   5.46  10.88
1961-01-05  13.33  13.25  11.42   6.17  ...  10.92  10.34  12.92  11.83

[5 rows x 12 columns]

In [4]:
# 6. how many values are missing in each cloumn
data.isnull().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

In [5]:
# 7. how many non-missing values in each column
data.shape[0] - data.isnull().sum()
# or
data.notnull().sum()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

In [6]:
# 8. mean windspeeds of the windspeeds over all the locations and all the times.
data.sum().sum() / data.notna().sum().sum()

10.227883764282167

In [7]:
## 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds
##     and standard deviations of the windspeeds at each location over all the days
data.describe(percentiles=[])
# by default not setting this would have shown you Inter-quartile ranges (25% and 75% values)

               RPT          VAL  ...          BEL          MAL
count  6568.000000  6571.000000  ...  6574.000000  6570.000000
mean     12.362987    10.644314  ...    13.121007    15.599079
std       5.618413     5.267356  ...     5.835037     6.699794
min       0.670000     0.210000  ...     0.130000     0.670000
50%      11.710000    10.170000  ...    12.500000    15.000000
max      35.800000    33.370000  ...    42.380000    42.540000

[6 rows x 12 columns]

In [8]:
## 10. Create a DataFrame called day_stats and calculate the min, max, mean windspeed
##      and standard deviations of the windspeeds across all the locations at each day.
#  create the dataframe
day_stats = pd.DataFrame() # determine axis equals to 1 so it gets each row
# determine axis equals to one so it gets each row
day_stats['min'] = data.min(axis = 1) # min
day_stats['max'] = data.max(axis = 1) # max 
day_stats['mean'] = data.mean(axis = 1) # mean
day_stats['std'] = data.std(axis = 1) # standard deviations

day_stats.head()

             min    max       mean       std
Yr_Mo_Dy
1961-01-01  9.29  18.50  13.018182  2.808875
1961-01-02  6.50  17.54  11.336364  3.188994
1961-01-03  6.17  18.50  11.641818  3.681912
1961-01-04  1.79  11.75   6.619167  3.198126
1961-01-05  6.17  13.33  10.630000  2.445356

In [11]:
# 11. Find the average windspeed in January for each location
data.loc[data.index.month == 1].mean()

RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

In [12]:
# 12. Downsample to yearly record for each location.
data.groupby(data.index.to_period('A')).mean()

                RPT        VAL        ROS  ...        CLO        BEL        MAL
Yr_Mo_Dy                                   ...
1961      12.299583  10.351796  11.362369  ...   9.835577  13.502795  13.680773
1962      12.246923  10.110438  11.732712  ...   9.676247  12.930685  14.323956
1963      12.813452  10.836986  12.541151  ...  10.224438  13.638877  14.999014
1964      12.363661  10.920164  12.104372  ...  10.207951  13.740546  14.910301
1965      12.451370  11.075534  11.848767  ...   9.918082  12.964247  15.591644
1966      13.461973  11.557205  12.020630  ...   9.768959  14.265836  16.307260
1967      12.737151  10.990986  11.739397  ...   9.547425  14.774548  17.135945
1968      11.835628  10.468197  11.409754  ...   7.832978  12.808634  15.017486
1969      11.166356   9.723699  10.902000  ...   7.754384  12.621233  15.762904
1970      12.600329  10.726932  11.730247  ...   8.289808  13.183644  16.456027
1971      11.273123   9.095178  11.088329  ...   7.229753  12.208932  15.025233
1972      12.463962  10.561311  12.058333  ...   7.515273  12.727377  15.028716
1973      11.828466  10.680493  10.680493  ...   7.812411  12.169699  15.441096
1974      13.643096  11.811781  12.336356  ...   8.736356  13.252959  16.947671
1975      12.008575  10.293836  11.564712  ...   7.382822  12.631671  15.307863
1976      11.737842  10.203115  10.761230  ...   7.883087  12.332377  15.471448
1977      13.099616  11.144493  12.627836  ...   8.821616  13.459068  16.590849
1978      12.504356  11.044274  11.380000  ...   8.301699  12.967397  16.771370

[18 rows x 12 columns]

In [13]:
# 13. downsample to a monthly record for each location
data.groupby(data.index.to_period('M')).mean()

# 14. downsample to a weekly record for each location
data.groupby(data.index.to_period('W')).mean()

                             RPT        VAL  ...        BEL        MAL
Yr_Mo_Dy                                     ...
1960-12-26/1961-01-01  15.040000  14.960000  ...  18.500000  15.040000
1961-01-02/1961-01-08  13.541429  11.486667  ...  12.481429  13.238571
1961-01-09/1961-01-15  12.468571   8.967143  ...  11.125714  11.024286
1961-01-16/1961-01-22  13.204286   9.862857  ...   9.821429  11.434286
1961-01-23/1961-01-29  19.880000  16.141429  ...  20.930000  22.530000
...                          ...        ...  ...        ...        ...
1978-11-27/1978-12-03  14.934286  11.232857  ...  11.835714  18.728571
1978-12-04/1978-12-10  20.740000  19.190000  ...  18.517143  23.061429
1978-12-11/1978-12-17  16.758571  14.692857  ...  11.102857  15.562857
1978-12-18/1978-12-24  11.155714   8.008571  ...  11.845714  18.977143
1978-12-25/1978-12-31  14.951429  11.801429  ...  12.947143  26.844286

[940 rows x 12 columns]

In [14]:
## 15. min, max, mean, standard deviations of the windspeeds for all 
## locations for the first 52 weeks.(1st week starts on 1961/Jan/02)
# resample data to 'W' week and use the functions
weekly = data.resample('W').agg(['min', 'max', 'mean','std'])
# slice it for the first 52 weeks and locations
weekly.loc[weekly.index[1:53], "RPT":"MAL"] .head(10)

              RPT                    ...    MAL
              min    max       mean  ...    max       mean       std
Yr_Mo_Dy                             ...
1961-01-08  10.58  18.50  13.541429  ...  16.46  13.238571  1.773062
1961-01-15   9.04  19.75  12.468571  ...  16.92  11.024286  4.692355
1961-01-22   4.92  19.83  13.204286  ...  17.96  11.434286  4.237239
1961-01-29  13.62  25.04  19.880000  ...  27.63  22.530000  3.874721
1961-02-05  10.58  24.21  16.827143  ...  19.25  11.935714  4.336104
1961-02-12  16.00  24.54  19.684286  ...  21.84  19.155714  1.828705
1961-02-19   6.04  22.50  15.130000  ...  22.58  16.584286  4.685377
1961-02-26   7.79  25.80  15.221429  ...  23.87  14.322857  6.182283
1961-03-05  10.96  13.33  12.101429  ...  17.54  13.951667  3.021387
1961-03-12   4.88  14.79   9.376667  ...  22.54  14.420000  5.769890

[10 rows x 48 columns]